<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yamaguchi.pamsys">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 回転防止 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ServiceInformationSettingActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".PassengerManagementOnRegularServiceActivity"
            android:screenOrientation="landscape"
            android:launchMode="standard"/>
        <activity android:name=".PassengerManagementOnDemandActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ReservationBusStopListActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".CouponTicketSaleActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".AnFinishedServiceResultActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".DriverRecordsActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>